/* Configuración de Fuente y Estilos Base */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3 {
    font-weight: 700;
}

/* Encabezado Principal */
header {
    background: #35424a;
    color: #ffffff;
    padding: 30px;
    text-align: center;
}

/* parte de nnavegacion */
nav {
    background: #444;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f4f4f4;
    text-decoration: underline;
}

/* diseño del cuerpo principal de la pagina */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

img {
    max-width: 100%;
    height: auto;
}

.foto-inicio {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 4px solid #35424a;
}

/* formulario de contacto */
form div {
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* pata que no se pegue a los bordes */
}

button {
    background: #35424a;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* pie de página y botón de Retorno */
footer {
    text-align: center;
    padding: 30px;
    background: #35424a;
    color: #fff;
    margin-top: 20px;
}

footer p a {
    display: inline-block;
    background-color: #f8f9fa;
    color: #35424a;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}

footer p a:hover {
    background-color: #ffffff;
    color: #000;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}